# Java / Gradle
.gradle/
build/
out/
repo/
*.class
*.jar
!**/gradle/wrapper/gradle-wrapper.jar
hs_err_pid*
**/src/generated/**/.cache/

# IDE
.idea/
*.iml
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Minecraft run dirs
run/
saves/
logs/
crash-reports/
